body {
  overflow: hidden;
}

a {
  color: #54c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background: #ffff9e;
}

header a {
  display: inline-block;
  padding: 12px 16px;
  font-size: 24px;
  color: #000;
  text-decoration: none;
}

.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.maplibregl-map {
  top: 52px;
  right: 0;
  bottom: 0;
  left: 0;
}

.sidebar {
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 400px;
  z-index: 2;
  border-radius: 16px 16px 0 0;
}

.sidebar-header {
  padding: 16px;
  padding-bottom: 0;
  border-bottom: 1px solid #eee;
}

.sidebar h2 {
  margin: 0 0 16px;
  font-size: 1em;
}

.sidebar button {
  background: none;
  border: 0;
  font: inherit;
  float: right;
  cursor: pointer;
  padding: 16px;
  margin: -16px -16px 0 0;
}

.sidebar button:hover {
  text-decoration: underline;
}

.sidebar-trip-timetable {
  max-height: calc(30vh - 84px);
  overflow: auto;
  padding: 8px;

}

.sidebar table {
  border-collapse: collapse;
  width: 100%;
}

.sidebar th {
  text-align: left;
  padding-bottom: 4px;
}

.sidebar td a {
  display: block;
  padding: 4px 8px;
}

.sidebar .minor,
.sidebar-trip-timetable th {
  font-size: 12px;
}
